body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.orange{
    color: orangered;
}

section{
    display:flex;
}
.text-part{
    width: 50%;
    margin-left: 120px;
    margin-top: 120px;
}
.text-part h1{
    font-size: 70px;
    color: rgb(90, 86, 86);
}

.img-part{
    width: 50%;
}
.img-part img{
    margin-top: 46px
    width: 96%;
    margin-left: 22px;
}
.text-part a{
    background: linear-gradient(#ff0000, #fa7474);
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 30px;
    
}

.text-part p{
    margin-bottom: 60px;
    color: gray;
}


.back{
    background-image: url(images/7.png);
    background-size: 100%;
    margin-top: 60px;
    width: auto;
    

}

.img-two{
    width: 50%;
    height: 590px;
}
.text-two h2{
    font-size: 70px;
}
.text-two{
    width: 50%;
    margin-top: 100px;
    margin-left: 50px;
}

.img-two img{
  
    margin-left: 150px;
    height: 590px;
}
.text-two p{
    font-weight: 500;
    color:rgb(145, 145, 145);
    margin-right: 70px;
    font-size: 23px;
    margin-bottom: 50px;
}
.text-two a{
    background: linear-gradient(#ff0000, #fa7474);
    padding: 10px 20px;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 30px;
}

.recipies{
    text-align: center;
    margin: 40px;
}
.recipies h2{
    font-size: 40px;
    
}
.recipies p{
    margin-left: 500px;
    margin-right: 500px;
    font-size: 24px;
    color: darkgrey;
}
.emon img{
    width: 90%;
    margin-left: 5%;
    height: 50%;
}

.emon p, h3{
        text-align: center;
        margin-left: 14%;
        width: 70%;
     }
.item-one{
    box-shadow: 20px 20px 100px gray;
    padding-top: 15px;;
    border-radius: 20px;
    margin-right: 5%;
    margin-left: 5%;
}

.last{
    background-color:black;
    padding: 5px 0px;
    margin-top: 33px;
}
.last h3{
    color: blanchedalmond;
    text-align: center;
    margin-top: 20px;
}
.last p{
    color: crimson;
    text-align: center;
}

.lol{
    box-shadow: 20px 20px 100px gray;
    margin-top: 107px;
    margin-left: 80px;
    margin-right: 80px;
    border-radius: 20px;
    padding: 75px;
}

.emin h1, p{
    margin-left: 86px;
    text-align: center;

}

.emin h1{
    font-size: 30px;
    font-weight: 800;
}

.emin p{
    font-size: 30px;
    font-weight: 800;
}